<% if unavilable_extensions.any? && !@result %>
  <% unavilable_extensions.each do |extension, queries| %>
    <span style='color: orange'>
      WARNING: Queries <%= queries.map { |q| "<b><u>#{q}</u></b>" }.join(", ").html_safe %> require extension: <b><%= extension %></b>
    </span>

    <h4>Rails</h4>
    <pre style='background-color: #e2e2e2; padding: 10px'>ActiveRecord::Base.connection.enable_extension "<%= extension %>"</pre>
    <h4>SQL</h4>
    <pre style='background-color: #e2e2e2; padding: 10px'>CREATE EXTENSION <%= extension %></pre>
  <% end %>
<% end %>

<% if @error %>
  <span style='color: red'><%= @error %></span>
<% else %>
  <% if @result && @result.any? %>
    <table>
      <caption><%= RubyPGExtras.description_for(query_name: @query_name) %></caption>
      <thead>
        <tr>
          <% @result[0].keys.each do |header| %>
            <th><%= header %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @result.values.each do |row| %>
          <tr>
            <% row.each do |column| %>
              <td><%= column %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <pre>run_at: <%= Time.now.utc %></pre>
  <% else %>
   <pre>No results</pre>
  <% end %>
<% end %>

<style media="screen">
  table {
    font-family: monospace;
    border-collapse: collapse;
    width: 100%;
  }

  table th {
    background-color: #c9c9;
  }

  table th, table td {
    text-align: left;
    border: 1px solid #c9c9;
    padding: 3px;
  }

  table td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  table caption {
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
  }
</style>
